<div class="section contactus-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-2 text-right">
        <div class="info info-horizontal inline">
          <div class="icon icon-warning">
            <i class="now-ui-icons text-primary location_world" style="margin-top: 0"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="info info-horizontal inline">
          <div class="description"><h5 class="info-title">Our Community</h5>
            <p class="description"> Alone, we can do so little; together, we can do so much </p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-12">
        <video  controls>
          <source src="assets/videos/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <!--<img width="320" height="240" alt="Raised Image" class="rounded img-raised" src="assets/img/ourTeam.jpg">-->
      </div>

    </div>
  </div>
</div>
