<div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-5"
       style="background-image: url('assets/img/coding.jpg');">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title">JS BootCamp 21</h1>
      <div class="content">
        <div class="social-description"><h2>{{ volunteers_no }}</h2>
          <p>Volunteers</p></div>
        <div class="social-description"><h2>1027</h2>
          <p>Participants</p></div>
        <div class="social-description"><h2>5</h2>
          <p>Countries</p></div>

      </div>
    </div>
  </div>
</div>
