<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" [routerLink]="['../about-us']" target="_blank">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{ '2021' | date: 'yyyy'}}, Designed by
            <a href="https://www.linkedin.com/in/victoria-popescu-6a28821b3/?originalSubdomain=md" target="_blank">Vica Tim</a>.
        </div>
    </div>
</footer>
