<div class="section section-tabs contactus-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="title">Contact us</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="now-ui-icons tech_mobile text-primary"></i>
              </div>
              <div class="description">
                <h5 class="info-title">Give us a ring</h5>
                <p> Victoria Popescu <br> +40 762 321 762 <br> Mon - Fri, 8:00-22:00 </p></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="info info-horizontal">
              <div class="icon icon-primary"><i class="now-ui-icons location_pin text-primary"></i></div>
              <div class="description"><h5 class="info-title">Find us at the office</h5>
                <p> Bld Mihail Kogalniceanu, nr. 8, <br> 7652 Bucharest, <br> Romania </p></div>
            </div>

          </div>
        </div>

      </div>

      <!-- ================  THE MAP LOCATION =================-->
      <div class="col-lg-6 col-md-12">
        <div class="map-responsive">
          <div class="gmap_canvas">
            <iframe allowfullscreen
                    frameborder="0" height="450" id="gmap_canvas" marginheight="0" marginwidth="0"
                    scrolling="no"
                    src="https://maps.google.com/maps?q=Lygten%202C,%202400%20K%C3%B8benhavn,%20Denmark&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    style="border:0" width="600">
            </iframe>
            <a href="https://123movies-to.org"></a>
            <br>
            <a href="https://www.embedgooglemap.net">google maps for web site</a>
            <style>.gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 500px;
              width: 600px;
            }</style>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
